*{
    margin: 0;
    padding: 0;
    
}

body {
    height: 400vh;
}

@font-face {
    font-family:'dunkin' ;
    src: url(font/Dunkin\ Sans\ Bold.otf);
}

header {
    height: 10vh;
    width: 100vw;
    background-color: #D90429;
    color: #EDF2F4;
    font-family: 'dunkin' ;
    font-size: large;
    text-align: center;
    position: fixed;

}

.scroll {
    position: fixed;
    top: 10vh;
    width: 0;
    height: 5px;
    background-color: #2B2D42;
    left: 0;
    transition: width 0.25s ease-in-out ;
}

article{
    background-color: #EDF2F4;
}

footer{
    background-color: #D90429;
}